{% load static %}





<a href="{% url 'web:cart' %}" id="cartmob" class="caret_bt d-nonee cart">
    <i class="fa fa-shopping-basket"></i><span id="cartlen" class="sm-car">0</span>    
</a>

<a href="tel:+919562540226" class="d-nonee call">
    <img src="{% static 'images/phone.png' %}" style="width: 100%;" alt="Call">
</a>


<a href="https://wa.me/+919562540226" class="d-nonee whatsapp" target="_blank">
    <img src="{% static 'images/whatsapp.png' %}" style="width: 100%;" alt="whatsapp">
</a>

  <!-- sw footer section start-->
  <div class="sw_contact_form_wrapper">
    <div class="discover_overlay"></div>

    <div class="sw_banner_bottom_shap_img_wrapper">
        <img src="{% static 'images/shape.png' %}" alt="shape">
    </div>
    <div class="footer_wrapper">

        <div class="container">
            <div class="circle_btm">
                <a href="javascript:" id="return-to-top"><i class="fa fa-long-arrow-up"></i></a>
            </div>
            <div class="row">
                <div class="foter_padder">
                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                        <div class="wrapper_second_about">
                            <div class="wrapper_first_image">
                                <a href="{% url 'web:index' %}"><img src="{% static 'images/axiv.png' %}" class="img-responsive" alt="logo" /></a>
                            </div>
                            <div class="abotus_content">
                                <p>AXIA is the global leading provider for photovoltaic (PV) modules and smart energy solutions, delivers PV products, applications and services to promote global sustainable development.
                                </p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-xs-12 col-sm-4">
                        <div class="wrapper_second_useful">
                            <h4>useful links </h4>
                            <img src="{% static 'images/hd_line_dark.png' %}" alt="title" class="pd_btm_3">
                            <ul>
                                <li><a href="#"><i class="fa fa-angle-right"></i>About us</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Service </a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>contact </a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Projects</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Upcoming Projects</a> </li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-12 col-sm-4">
                        <div class="wrapper_second_useful wrapper_second_links">

                            <ul>
                                <li><a href="#"><i class="fa fa-angle-right"></i>testimonials</a>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Our partners</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Why Us</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Blog</a> </li>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>career</a> </li>
                            </ul>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                        <div class="wrapper_second_useful wrapper_second_useful_2">
                            <h4>contact us</h4>
                            <img src="{% static 'images/hd_line_dark.png' %}" alt="title" class="pd_btm_3">
                            <ul>
                                <li>
                                    <h1>95625 40226</h1>
                                </li>
                                <li><a href="#"><i class="flaticon-new-email-outline"></i>info@axivauniverse.com</a>
                                </li>
                                <li><a href="#"><i class="flaticon-internet"></i>www.axivauniverse.com</a>
                                </li>

                                <li><i class="flaticon-placeholder"></i>Calicut ,Kerala ,India
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <div class="section3_copyright">
                    <p>Copyright 2021-22 <a href="{% url 'web:index' %}"> Avixa</a>. all right reserved - design by <a href="Gedexo.html">Gedexo. </a></p>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- sw footer section end-->


<style>

.sm-car {
    width: 20px;
    height: 20px;
    color: #ffffff;
    background: #ff3232;
    border-radius: 100%;
    font-size: 10px;
    float: left;
    line-height: 20px;
    text-align: center;
    position: absolute;
    left: 18px;
    bottom: 15px;
}
    .cart {
    display: none;
    font-size: 30px;
    position: fixed;
    height: 45px;
    width: 49px;
    bottom: 180px;
    right: 8px;
    z-index: 100;
    object-fit: contain;
    line-height: 2;
    }

    .call {
    position: fixed;
    height: 45px;
    width: 49px;
    bottom: 125px;
    right: 14px;
    z-index: 100;
    object-fit: contain;
}

.whatsapp {
  position: fixed;
  height: 45px;
  width: 43px;
  bottom: 70px;
  right: 16px;
  z-index: 100;
  object-fit: contain;
}
</style>