
{% load static %}
<div class="row">
    <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 col-lg-offset-3">
        <div class="sw_left_heading_wraper sw_center_heading_wrapper">
            <h1>WHY CHOOSE AXIA</h1>
            <img src="{% static 'images/heading_line.png' %}" alt="title">
            <p>Axia provides exceptional services with higher customer benefits </p>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
        <div class="chose_text_wrapper_left">
            <div class="chose_icon_wrapper_list">

                <div class="chose_icon_img_list">
                    <img src="{% static 'images/o2.png' %}" alt="title">
                </div>

                <div class="chose_icon_content_left">
                    <h4><a href="#">Reduce your carbon footprint</a></h4>
                    <p>Solar energy doesn’t emit harmful carbon dioxide (CO2).</p>
                </div>

            </div>
            <div class="chose_icon_wrapper_list">

                <div class="chose_icon_img_list">
                    <img src="{% static 'images/ser_img_2.png' %}" alt="title">
                </div>

                <div class="chose_icon_content_left">
                    <h4><a href="#">Abundant,Accessible,<br>Affordable</a></h4>
                    <p>Enough sunlight reaches the earth in one hour to power the world for an entire year.</p>
                </div>

            </div>
            <div class="chose_icon_wrapper_list">

                <div class="chose_icon_img_list">
                    <img src="{% static 'images/ser_img_6.png' %}" alt="title">
                </div>

                <div class="chose_icon_content_left">
                    <h4><a href="#">Renewable energy</a></h4>
                    <p>Solar energy is a renewable energy source that is naturally replenished.</p>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-12 hidden-sm hidden-xs wow  bounceIn animated" data-wow-duration="1.3s" style="visibility: visible; animation-duration: 1.3s; animation-name: bounceIn;">
        <div class="section2_img_wrapper">
            <img class="img-responsive" src="{% static 'images/cs_service.png' %}" alt="img">
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 hidden-sm hidden-xs">
        <div class="chose_text_wrapper_right">
            <div class="chose_icon_wrapper_list">
                <div class="icon_content_right">
                    <h4><a href="#">Save on electricity bills</a></h4>
                    <p>Installation of solar panels reduces monthly electricity bills.</p>
                </div>

                <div class="chose_icon_img_list">
                    <img src="{% static 'images/ser_img_3.png' %}" alt="title">
                </div>

            </div>
            <div class="chose_icon_wrapper_list">

                <div class="icon_content_right">
                    <h4><a href="#"> Cost-effective</a></h4>
                    <p>The products and services of AXIA are highly budget-friendly.</p>
                </div>

                <div class="chose_icon_img_list">
                    <img src="{% static 'images/ser_img_4.png' %}" alt="title">
                </div>

            </div>
            <div class="chose_icon_wrapper_list">

                <div class="icon_content_right">
                    <h4><a href="#">Increase property value</a></h4>
                    <p>The properties with solar systems have high market value.</p>
                </div>

                <div class="chose_icon_img_list">
                    <img src="{% static 'images/increse.png' %}" alt="title">

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 visible-sm visible-xs">
        <div class="chose_text_wrapper_right">
            <div class="chose_icon_wrapper_list">
                <div class="chose_icon_img_list">
                    <img src="{% static 'images/ser_img_3.png' %}" alt="title">
                </div>
                <div class="icon_content_right">
                    <h4><a href="#">Used for Many Purposes</a></h4>
                    <p>Quisque ut nunc elit. Lorem ipsum dolor Sit amet consectetur.</p>
                </div>
            </div>
            <div class="chose_icon_wrapper_list">

                <div class="chose_icon_img_list">
                    <img src="{% static 'images/ser_img_4.png' %}" alt="title">
                </div>

                <div class="icon_content_right">
                    <h4><a href="#">Low Installation Costs</a></h4>
                    <p>Quisque ut nunc elit. Lorem ipsum dolor Sit amet consectetur.</p>
                </div>
            </div>
            <div class="chose_icon_wrapper_list">
                <div class="chose_icon_img_list">
                    <img src="{% static 'images/ser_img_5.png' %}" alt="title">

                </div>
                <div class="icon_content_right">
                    <h4><a href="#">Easy Installation</a></h4>
                    <p>Quisque ut nunc elit. Lorem ipsum dolor Sit amet consectetur.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 visible-sm visible-xs">
        <div class="section2_img_wrapper wow  bounceIn animated" data-wow-duration="1.3s" style="visibility: visible; animation-duration: 1.3s; animation-name: bounceIn;">
            <img class="img-responsive" src="{% static 'images/cs_service.png' %}" alt="img">
        </div>
    </div>
</div>