{% extends 'base2.html' %}
{% load static %}
{% block title %}Title Blog{% endblock %}

{% block content %}
    <!-- page_title_section start -->
    <div class="page_title_section">
        <div class="page_header">
            <div class="container">
                <div class="row">
                    <!-- section_heading start -->
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">

                        <div class="sub_title_section">
                            <ul class="sub_title">
                                <li><a href="#"> Home </a></li>
                                <li>blog single post</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page_title_section end -->
    <!--sw about us top start-->
    <div class="sw_about_top_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="sw_abot_top_txt_wrapper">

                        <div class="sw_left_heading_wraper sw_dark_heading_wraper">
                            <h1>blog categories</h1>
                            <img src="{% static 'images/hd_line_dark.png' %}" alt="title">
                            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enimnim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="sw_about_top_img">
                        <img src="{% static 'images/iner_blog.png' %}" alt="img">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--sw about us top end-->
    <!-- blog_section start -->
    <div class="blog_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="lest_news_box_wrapper">
                        <div class="lest_news_img_wrapper">
                            <img src="{% static 'images/pjct_single_bg.jpg' %}" alt="blog_img">
                       														   
							<div class="fab-container hidden-xs">
								  <a class="fab-buttons level waves-effect waves-light waves-ripple" href="#!">
									<i class="fa fa-pinterest-p level-item" aria-hidden="true"></i>
								  </a>
								  <a class="fab-buttons level" href="#!">
									<i class="fa fa-google level-item" aria-hidden="true"></i>
								  </a>
								  <a class="fab-buttons level" href="#!">
									<i class="fa fa-twitter level-item" aria-hidden="true"></i>
								  </a>
								 
								  <a class="fab-buttons level" href="#!">
									<i class="fa fa-facebook level-item" aria-hidden="true"></i>
								  </a>
								  <a class="fab-buttons fab_btn_btn" href="#!">
									<span><span class="fab-rotate level"><i class="fa fab-icon level-item" aria-hidden="true"></i>
											  </span></span>
								  </a>
							</div>													   
                        </div>
                        <div class="lest_news_cont_wrapper">
                            <div class="sc_blog_date">June 28, 2018</div>
                            <h5><a href="#">Electricity is on track for what about decarbonising heat?</a></h5>
							  <div class="lest_news_cont_bottom lest_news_cont_bottom_2">
                            <div class="lest_news_cont_bottom_left lest_news_cont_bottom_left_2 sc_left_btm sc_left_btm_2 sc_btn">
                                <p><a href="#"><i class="fa fa-user"></i>by akshay  H.</a></p>
                            </div>
                            <div class="lest_news_cont_bottom_center lest_news_cont_bottom_center_2 sc_center_btm sc_btn">
                                <p><a href="#"><i class="fa fa-eye"></i>264</a></p>
                            </div>
                            <div class="lest_news_cont_bottom_right lest_news_cont_bottom_right_2 sc_right_btm sc_btn">
                                <p><a href="#"><i class="fa fa-comments-o"></i>05</a></p>
                            </div>
							 <div class="lest_news_cont_bottom_last lest_news_cont_bottom_last_2 sc_right_btm sc_btn">
                                <p><a href="#"><i class="fa fa-clone"></i>Energy</a></p>
                            </div>
                        </div>
                            <p>It is a long established fact that a reader will be distracted by thee reale content of a page when looking at its layout. ar et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation iulputate cursus as Photoshop's veion of Lorem Ipsum. This is Photoshop'suis sed odio sit ametbh vulputate cursus a sit amet mauris.nisi elit at ipsum, nec sagitstracted by thee reale content of a page when looking at its layout. ar et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut pealiquip ex ea commodo consequat. Duis The point of usingc ullamco laboris nisi ut pealiquip ex ea commodo consequat. Duis The point of usingc Lorem Ipsum is that it has a more-or-less normal</p>

                        </div>
                        <div class="btc_blog_single_post_bottom_post_wrapper">
                            <div class="btc_blog_single_post_quote_wrapper1"></div>
                            <div class="btc_blog_single_post_quote_wrapper2"></div>
                            <p>“Duis sed odio sit amet nibh vulputate cursus a sit mt mauris. Morbi accumsan ipsum velit. Nam nec tellus odio tincidunt auctor a ornare.”</p>
                            <div class="btc_testi_cont_bottom_line"></div>
                            <h1>by <span>Ajay S.</span> (CEO)</h1>
                        </div>
                        <div class="btc_blog_single_post_tittle_wrapper">
                            <div class="btc_blog_single_tittle_img_wrapper hidden-xs">
                                <img src="{% static 'images/pj_1.jpg' %}" class="img-responsive" alt="blog_img" />
                            </div>
                            <div class="btc_blog_single_tittle_img_cont_wrapper">
                                <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit at ipsum, nec sagittis sem nibh id el Photoshop'suis sed odio sit ametbh vulputate cursus a sit amet mauris.nisi elit at ipsum, sed psum, nec sagittis sem nibh id el Photoshop'suis sed odio sit ametbh vulputate cursus a sit amet mauris.nisi elit at ipsum, nec sagittis sem nibh id elit. Duis odio sit ametbh vulputate cursus a sit amet mauris.</p>
                            </div>
                        </div>
                        <div class="btc_blog_single_post_tittle_wrapper">
                            <div class="btc_blog_single_tittle_img_wrapper hidden-xs ">
                                <img src="{% static 'images/pj_12.jpg' %}" class="img-responsive" alt="blog_img" />
                            </div>
                            <div class="btc_blog_single_tittle_img_cont_wrapper btc_blog_single_tittle_img_cont_wrapper_right">
                                <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit at ipsum, nec sagittis sem nibh id elit.um, nec sagittis sem nibh id el Photoshop'suis sed odio sit ametbh vulputate cursus a sit amet mauris.nisi elit at ipsum, nec sagittis sem nibh id elit. Duis utate cursus , nisi ePhotoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin.</p>
                            </div>

                        </div>
                        <div class="lest_news_cont_bottom lest_news_cont_bottom_tags">
                           <p><span><i class="fa fa-tag"></i> Tags :</span>solar panel , system , eco , sun , wind , energy , power</p>
                        </div>

                    </div>
                    <div class="lest_news_box_wrapper">
                        <div class="btc_blog_post_admin_main_wrapper">
                            <div class="btc_blog_single_post_admin_img">
                                <img src="{% static 'images/bs_admin.png' %}" alt="admin_img" />
                            </div>
                            <div class="btc_blog_single_post_admin_img_cont">
                                <h1>Ajay Suryavanshi</h1>
                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
					<div class="project_next_wrapper blog_next_wrapper">                   
					<div class="row">                   
                            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                                <div class="sw_pre_wrapper sw_pre_wrapper_2">
                                    <a href="#">
                                      
                                        <div class="sw_pre_wrapper_txt sw_pre_wrapper_txt_4">
                                            <p>previous</p>                                          
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                                <div class="sw_next_wrapper sw_next_wrapper_2">
                                    <a href="#">
                                        <div class="sw_pre_wrapper_txt_2 sw_pre_wrapper_txt_3">
                                            <p>Next</p>
                                    </a>
                                    </div>
                                </div>
                            </div>
						</div>
                </div>

                    <div class="sw_spectrum_wrapper">

                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <div class="sw_left_heading_wraper">
                                <h1>related post</h1>
                                <img src="{% static 'images/heading_line.png' %}" alt="title">
                            </div>
                        </div>

                        <!-- slider start -->
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 sw_spectrm_padding">
                            <div class="blog_single_slider_wrapper">
                                <div class="owl-carousel owl-theme">
                                    <div class="item">
                                        <div class="btc_blog_indx_box_wrapper btc_blog_padder">
                                            <div class="btc_blog_indx_img_wrapper">
                                                <img src="{% static 'images/news_3.jpg' %}" alt="blog_img">
                                                <div class="btc_blog_indx_date_wrapper">
                                                    <a href="#!" class="waves-effect waves-light waves-ripple"><i class="fa fa-long-arrow-right"></i></a>
                                                </div>
                                            </div>
                                            <div class="btc_blog_indx_cont_wrapper">
                                                <p>june 16,2018</p>
                                                <h5>Electricity is on track for what
about decarbonising heat?</h5>

                                            </div>
                                            <div class="btc_blog_indx_cont_bottom">
                                                <div class="btc_blog_indx_cont_bottom_left">
                                                    <p><i class="fa fa-user"></i> &nbsp;<a href="#">by Akshay</a></p>
                                                </div>
                                                <div class="btc_blog_indx_cont_bottom_right">
                                                    <p><i class="fa fa-comments-o"></i> &nbsp;<a href="#">04 Comm.</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item">
                                        <div class="btc_blog_indx_box_wrapper btc_blog_padder">
                                            <div class="btc_blog_indx_img_wrapper">
                                                <img src="{% static 'images/news_2.jpg' %}" alt="blog_img">
                                                <div class="btc_blog_indx_date_wrapper">
                                                    <a href="#!" class="waves-effect waves-light waves-ripple"><i class="fa fa-long-arrow-right"></i></a>
                                                </div>
                                            </div>
                                            <div class="btc_blog_indx_cont_wrapper">
                                                <p>june 16,2018</p>
                                                <h5>Electricity is on track for what
about decarbonising heat?</h5>

                                            </div>
                                            <div class="btc_blog_indx_cont_bottom">
                                                <div class="btc_blog_indx_cont_bottom_left">
                                                    <p><i class="fa fa-user"></i> &nbsp;<a href="#">by Akshay</a></p>
                                                </div>
                                                <div class="btc_blog_indx_cont_bottom_right">
                                                    <p><i class="fa fa-comments-o"></i> &nbsp;<a href="#">04 Comm.</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item">
                                        <div class="btc_blog_indx_box_wrapper btc_blog_padder">
                                            <div class="btc_blog_indx_img_wrapper">
                                                <img src="{% static 'images/news_1.jpg' %}" alt="blog_img">
                                                <div class="btc_blog_indx_date_wrapper">
                                                    <a href="#!" class="waves-effect waves-light waves-ripple"><i class="fa fa-long-arrow-right"></i></a>
                                                </div>
                                            </div>
                                            <div class="btc_blog_indx_cont_wrapper">
                                                <p>june 16,2018</p>
                                                <h5>Electricity is on track for what
about decarbonising heat?</h5>

                                            </div>
                                            <div class="btc_blog_indx_cont_bottom">
                                                <div class="btc_blog_indx_cont_bottom_left">
                                                    <p><i class="fa fa-user"></i> &nbsp;<a href="#">by Akshay</a></p>
                                                </div>
                                                <div class="btc_blog_indx_cont_bottom_right">
                                                    <p><i class="fa fa-comments-o"></i> &nbsp;<a href="#">04 Comm.</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="blg_sngle_man_div">
                        <div class="sw_left_heading_wraper">
                            <h1>comments (05)</h1>
                            <img src="{% static 'images/heading_line.png' %}" alt="title">
                        </div>
                        <div class="comment_box_blog">
                            <div class="blog_comment1_wrapper">
                                <div class="blog_comment1_img">
                                    <img src="{% static 'images/comment_img1.jpg' %}" alt="comment_img" class="img-responsive img-circle" />
                                </div>
                                <div class="blog_comment1_cont">
                                    <h3>Jhaon Doe</h3>
                                    <p><span>june 1, 2018 - <a href="#">reply</a></span>
                                    </p>
                                    <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus.</p>
                                </div>
                            </div>
                            <div class="blog_comment1_wrapper cmnt_wraper_2">
                                <div class="blog_comment1_img">
                                    <img src="{% static 'images/comment_img2.jpg' %}" alt="comment_img" class="img-responsive img-circle" />
                                </div>
                                <div class="blog_comment1_cont">
                                    <h3>Jhon smith</h3>
                                    <p><span>june 1, 2018 - <a href="#">reply</a></span>
                                    </p>
                                    <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus.</p>
                                </div>
                            </div>
                            <div class="blog_comment1_wrapper cmnt_wraper_2">
                                <div class="blog_comment1_img">
                                    <img src="{% static 'images/comment_img3.jpg' %}" alt="comment_img" class="img-responsive img-circle" />
                                </div>
                                <div class="blog_comment1_cont">
                                    <h3>sandy Doe</h3>
                                    <p><span>june 1, 2018 - <a href="#">reply</a></span>
                                    </p>
                                    <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus.</p>
                                </div>
                            </div>
                            <div class="blog_comment1_wrapper cmnt_wraper_2">
                                <div class="blog_comment1_img">
                                    <img src="{% static 'images/comment_img4.jpg' %}" alt="comment_img" class="img-responsive img-circle" />
                                </div>
                                <div class="blog_comment1_cont">
                                    <h3>sent france</h3>
                                    <p><span>june 1, 2018 - <a href="#">reply</a></span>
                                    </p>
                                    <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus.</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="contact-section blog_contact_form">
                        <div class="holder holder_2">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <form action="#">

                                        <div class="row">
                                            <div class="col-md-6">
                                                <input type="text" name="full_name" placeholder="Name*" class="require">
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" name="email" placeholder="Email*" class="require" data-valid="email" data-error="Email should be valid.">
                                            </div>
                                           
                                            <div class="col-md-12">
                                                <textarea cols="10" rows="4" name="message" class="require" placeholder="Message*"></textarea>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="response response_2"></div>
                                                <div class="cntct_2_btn_wrapper cntct_2_btn_inner">
                                                    <button type="button" class="submitForm waves-effect waves-light waves-ripple">send</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <!-- blog_pagination_section end -->

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="sidebar_margin">
                    <div class="sidebar_widget">
                        <h4>search here</h4>
                        <img src="{% static 'images/heading_line.png' %}" alt="title">
                        <form class="search_form" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search here">
                            </div>
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <div class="sidebar_widget">
                        <h4>new categories</h4>
                        <img src="{% static 'images/heading_line.png' %}" alt="title">
                        <div class="archives_wrapper">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-caret-right" aria-hidden="true"></i> electricity <span>(02)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-caret-right" aria-hidden="true"></i>organization <span>(25)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-caret-right" aria-hidden="true"></i>researh
                                        <span>(35)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-caret-right" aria-hidden="true"></i>school <span>(43)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-caret-right" aria-hidden="true"></i>solar pannels<span>(12)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-caret-right" aria-hidden="true"></i>wind mill<span>(22)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-caret-right" aria-hidden="true"></i>household<span>(09)</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar_widget">
                        <h4>new categories</h4>
                        <img src="{% static 'images/heading_line.png' %}" alt="title">
                        <div class="latest_post_wrapper">
                            <div class="blog_wrapper1">
                                <div class="sc_blog_image">
                                    <img src="{% static 'images/blog_1.png' %}" class="img-responsive" alt="blog_img1" />
                                </div>
                                <div class="sc_blog_text">
								   <div class="sc_blog_date">June 28, 2018</div>
                                    <h5><a href="#">Electricity is on
track for what.</a></h5>
                                 
                                </div>
                            </div>
                            <div class="blog_wrapper2">
                                <div class="sc_blog_image">
                                    <img src="{% static 'images/blog_2.png' %}" class="img-responsive" alt="blog_img2" />
                                </div>
                                <div class="sc_blog_text">
								 <div class="sc_blog_date">June 28, 2018</div>
                                    <h5><a href="#">Electricity is on
track for what.</a></h5>
                                   
                                </div>
                            </div>
                            <div class="blog_wrapper3">
                                <div class="sc_blog_image">
                                    <img src="{% static 'images/blog_3.png' %}" class="img-responsive" alt="blog_img3" />
                                </div>
                                <div class="sc_blog_text">
								   <div class="sc_blog_date">June 28, 2018</div>
                                    <h5><a href="#">Electricity is on
track for what.</a></h5>
                                 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar_widget">
                        <h4>archives</h4>
                        <img src="{% static 'images/heading_line.png' %}" alt="title">
                        <div class="archives_wrapper">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-caret-right" aria-hidden="true"></i> june<span>(02)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-caret-right" aria-hidden="true"></i>july <span>(06)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-caret-right" aria-hidden="true"></i>august
                                        <span>(15)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-caret-right" aria-hidden="true"></i>september<span>(23)</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="fa fa-caret-right" aria-hidden="true"></i>december<span>(09)</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar_widget">
                        <h4>tags</h4>
                        <img src="{% static 'images/heading_line.png' %}" alt="title">
                        <div class="archives_wrapper">
                            <div class="gc_blog_cloud_side_menu">

                                <ul>
                                    <li><a href="#">sun rays</a>
                                    </li>
                                    <li><a href="#">ecosystem</a>
                                    </li>
                                    <li><a href="#">wind</a>
                                    </li>
                                    <li><a href="#">power</a>
                                    </li>
                                    <li><a href="#">energy</a>
                                    </li>
                                    <li><a href="#">solar pannel</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="slidebar_add_img">
                        <a href="#">
                            <img src="{% static 'images/add.png' %}" alt="img" class="img-responsive">
                        </a>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <!-- blog_section end -->
    <!--sw our newsletter wrapper start-->
    <div class="sw_our_newsletter_wrapper">

        <div class="container">
            <div class="row">
                <div class="col-md-7 col-lg-7 col-sm-12 col-xs-12">
                    <div class="sw_nl_heading_wrapper sw_our_news_txt">
                        <i class="flaticon-rocket"></i>
                        <h2>Subscribe Our Newsletter</h2>
                        <h6>Get the latest News & Offers..</h6>

                        <div class="prs_newsletter_field">
                            <input type="text" placeholder="Email*">
                            <button type="submit" class="waves-effect waves-light waves-ripple">Submit</button>
                        </div>
                        <p>True environmental protection lies in loving the mountains, the oceans and in cher
                            <br> all creation.</p>

                    </div>
                </div>
                <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12">
                    <div class="sw_letter_img_wrapper">
                        <img src="{% static 'images/abt_ltr_img.png' %}" alt="img">

                    </div>
                </div>
            </div>
        </div>

    </div>

    {% endblock %}