{% extends 'base2.html' %}
{% load static %}
{% block title %}Products{% endblock %}

{% block content %}
    <!-- page_title_section start -->
    <div class="page_title_section">
        <div class="page_header">
            <div class="container">
                <div class="row">
                    <!-- section_heading start -->
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">

                        <div class="sub_title_section">
                            <ul class="sub_title">
                                <li><a href="#"> Home </a></li>
                                <li>Product</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page_title_section end -->
    <!--sw about us top start-->
    <div class="sw_about_top_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="sw_abot_top_txt_wrapper">

                        <div class="sw_left_heading_wraper sw_dark_heading_wraper">
                            <h1>AXIA PRODUCTS</h1>
                            <img src="{% static 'images/hd_line_dark.png' %}" alt="title">
                            <p>Axia delivers quality products at the best price margins. All products of Axia are of the highest quality and durability. Axia provides high-grade products for various purposes.
                                 Axia products include electrical appliances, security devices, LED and lightings, renewable energy products, lightning protectors and many more Axia products.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--sw about us top end-->

    <!-- blog_section start -->
    <div class="blog_section blog_shop_wrapper">
        <div class="container">
            <div class="row">

                
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="sidebar_shop_right">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                <div class="filter-area">

                                   
                                    <select id="list">
                                        <option>Select Product Category</option>
                                        {% for productcategory in productcategory %}

                                        <option value="{{productcategory.id}}" >{{productcategory.name}}</option>
                
                                        {% endfor %}
                                    </select>
                                </div>


                                <script
                                    src="https://code.jquery.com/jquery-3.6.0.js"
                                    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
                                    crossorigin="anonymous">
                                </script>
                                <script>
                         
                                    $('#list').change(function() {
                                        var cls = $(this).val()
                                        if(cls=='Select Product Category')
                                            {
                                                $("#list > option").each(function() {
                                                    $('.'+this.value).fadeIn()
                                                });
                                                return 1;

                                            }
                                        $("#list > option").each(function() {
                                             if(this.value!=cls){
                                                 $('.'+this.value).fadeOut()
                                             }
                                             });
                                        $('.'+cls).fadeIn()
                                    });
                                </script>

                                <style>
                                    .d-block{
                                        display: block !important;
                                    }
                                </style>

                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="tab-content btc_shop_index_content_tabs_main">
                                    <div id="grid" class="tab-pane fade in active">
                                        <div class="row justify-content-center">

                                            {% for product in product %}
                                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 {{product.productcategory.id}}" id="test" >
                                                <div class="sw_product_box_wrapper sw_shop_sider_pder">
                                                    <div class="sw_product_indx_img_wrapper">

                                                      <a href="{{product.get_absolute_url}}">  <img src="{{product.photo.crop.250x200}}" alt="shop_img" class="img-responsive" /> </a>
                                                    </div>

                                                    <div class="sw_product_indx_img_cont_wrapper sw_product_indx_img_cont_wrapper_2">
                                                        
                                                        <h5>₹ {{product.price}}</h5>
                                                        <h1><a href="{{product.get_absolute_url}}">{{product.name}}</a></h1>
                                                        <br>
                                                         
                                                         <div class="cc_li_img_overlay">
                                                            <div class="cc_li_img_text">
                                                                <ul> 
                                                                    <form method="POST">
                                                                        {% csrf_token %}
                                                                    <li onclick="btnCart({{product.id}},this)"><a><i class="fa fa-shopping-cart"></i></a></li> 
                                                                     </form>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                            
                                        </div>
                                    </div>
                                    <div id="list" class="tab-pane fade">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="btc_shop_indx_cont_list_box_wrapper">
                                                    <div class="btc_shop_list_img_wrapper">

                                                        <img src="{% static 'images/prdct_5.png' %}" alt="shop_img" class="img-responsive" />
                                                    </div>
                                                    <div class="btc_shop_list_img_cont_wrapper">
                                                        <div class="btc_shop_product_price_wrapper pdt">
                                                            <ul>
                                                                <li>₹150</li>
                                                            </ul>
                                                        </div>

                                                        <h1><a href="#">Solaris Panel V405</a></h1>
                                                        <div class="cc_shop_list">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </div>

                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do enim ad minimveniam, quis do enim ad minimven trud exercitation ullamco.</p>

                                                        <div class="btc_shop_list_bottom_social_wrapper ">
                                                            <ul>
                                                                <li class="shop_list_first_btn"><a href="#!" class="waves-effect waves-light waves-ripple"><i class="fa fa-heart"></i>wishlist</a></li>
                                                                <li><a href="#!" class="waves-effect waves-light waves-ripple"><i class="fa fa-shopping-cart"></i>add to cart</a></li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="btc_shop_indx_cont_list_box_wrapper">
                                                    <div class="btc_shop_list_img_wrapper">

                                                        <img src="{% static 'images/prdct_6.png' %}" alt="shop_img" class="img-responsive" />
                                                    </div>
                                                    <div class="btc_shop_list_img_cont_wrapper">
                                                        <div class="btc_shop_product_price_wrapper pdt">
                                                            <ul>
                                                                <li>₹150</li>
                                                            </ul>
                                                        </div>

                                                        <h1><a href="{{product.get_absolute_url}}">Solaris Panel V405</a></h1>
                                                        <div class="cc_shop_list">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </div>

                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do enim ad minimveniam, quis do enim ad minimven trud exercitation ullamco.</p>

                                                        <div class="btc_shop_list_bottom_social_wrapper ">
                                                            <ul>
                                                                <li class="shop_list_first_btn"><a href="#!" class="waves-effect waves-light waves-ripple"><i class="fa fa-heart"></i>wishlist</a></li>
                                                                <li><a href="#!" class="waves-effect waves-light waves-ripple"><i class="fa fa-shopping-cart"></i>add to cart</a></li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="btc_shop_indx_cont_list_box_wrapper">
                                                    <div class="btc_shop_list_img_wrapper">

                                                        <img src="{% static 'images/prdct_5.png' %}" alt="shop_img" class="img-responsive" />
                                                    </div>
                                                    <div class="btc_shop_list_img_cont_wrapper">
                                                        <div class="btc_shop_product_price_wrapper pdt">
                                                            <ul>
                                                                <li>₹150</li>
                                                            </ul>
                                                        </div>

                                                        <h1><a href="{{product.get_absolute_url}}">Solaris Panel V405</a></h1>
                                                        <div class="cc_shop_list">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </div>

                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do enim ad minimveniam, quis do enim ad minimven trud exercitation ullamco.</p>

                                                        <div class="btc_shop_list_bottom_social_wrapper ">
                                                            <ul>
                                                                <li class="shop_list_first_btn"><a href="#!" class="waves-effect waves-light waves-ripple"><i class="fa fa-heart"></i>wishlist</a></li>
                                                                <li><a href="#!" class="waves-effect waves-light waves-ripple"><i class="fa fa-shopping-cart"></i>add to cart</a></li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="btc_shop_indx_cont_list_box_wrapper">
                                                    <div class="btc_shop_list_img_wrapper">

                                                        <img src="{% static 'images/prdct_4.png' %}" alt="shop_img" class="img-responsive" />
                                                    </div>
                                                    <div class="btc_shop_list_img_cont_wrapper">
                                                        <div class="btc_shop_product_price_wrapper pdt">
                                                            <ul>
                                                                <li>₹150</li>
                                                            </ul>
                                                        </div>

                                                        <h1><a href="{{product.get_absolute_url}}">Solaris Panel V405</a></h1>
                                                        <div class="cc_shop_list">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </div>

                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do enim ad minimveniam, quis do enim ad minimven trud exercitation ullamco.</p>

                                                        <div class="btc_shop_list_bottom_social_wrapper ">
                                                            <ul>
                                                                <li class="shop_list_first_btn"><a href="#!" class="waves-effect waves-light waves-ripple"><i class="fa fa-heart"></i>wishlist</a></li>
                                                                <li><a href="#!" class="waves-effect waves-light waves-ripple"><i class="fa fa-shopping-cart"></i>add to cart</a></li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="btc_shop_indx_cont_list_box_wrapper">
                                                    <div class="btc_shop_list_img_wrapper">

                                                        <img src="{% static 'images/prdct_3.jpg' %}" alt="shop_img" class="img-responsive" />
                                                    </div>
                                                    <div class="btc_shop_list_img_cont_wrapper">
                                                        <div class="btc_shop_product_price_wrapper pdt">
                                                            <ul>
                                                                <li>₹150</li>
                                                            </ul>
                                                        </div>

                                                        <h1><a href="{{product.get_absolute_url}}">Solaris Panel V405</a></h1>
                                                        <div class="cc_shop_list">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </div>

                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do enim ad minimveniam, quis do enim ad minimven trud exercitation ullamco.</p>

                                                        <div class="btc_shop_list_bottom_social_wrapper ">
                                                            <ul>
                                                                <li class="shop_list_first_btn"><a href="#!" class="waves-effect waves-light waves-ripple"><i class="fa fa-heart"></i>wishlist</a></li>
                                                                <li><a href="#!" class="waves-effect waves-light waves-ripple"><i class="fa fa-shopping-cart"></i>add to cart</a></li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="btc_shop_indx_cont_list_box_wrapper">
                                                    <div class="btc_shop_list_img_wrapper">

                                                        <img src="{% static 'images/prdct_2.jpg' %}" alt="shop_img" class="img-responsive" />
                                                    </div>
                                                    <div class="btc_shop_list_img_cont_wrapper">
                                                        <div class="btc_shop_product_price_wrapper pdt">
                                                            <ul>
                                                                <li>₹150</li>
                                                            </ul>
                                                        </div>
                                                        <h1><a href="{{product.get_absolute_url}}">Solaris Panel V405</a></h1>
                                                        <div class="cc_shop_list">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </div>

                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do enim ad minimveniam, quis do enim ad minimven trud exercitation ullamco.</p>

                                                        <div class="btc_shop_list_bottom_social_wrapper ">
                                                            <ul>
                                                                <li class="shop_list_first_btn"><a href="#!" class="waves-effect waves-light waves-ripple"><i class="fa fa-heart"></i>wishlist</a></li>
                                                                <li><a href="#!" class="waves-effect waves-light waves-ripple"><i class="fa fa-shopping-cart"></i>add to cart</a></li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="btc_shop_indx_cont_list_box_wrapper">
                                                    <div class="btc_shop_list_img_wrapper">

                                                        <img src="{% static 'images/prdct_1.jpg' %}" alt="shop_img" class="img-responsive" />
                                                    </div>
                                                    <div class="btc_shop_list_img_cont_wrapper">
                                                        <div class="btc_shop_product_price_wrapper pdt">
                                                            <ul>
                                                                <li>₹150</li>
                                                            </ul>
                                                        </div>
                                                        <h1><a href="{{product.get_absolute_url}}">Solaris Panel V405</a></h1>
                                                        <div class="cc_shop_list">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </div>

                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do enim ad minimveniam, quis do enim ad minimven trud exercitation ullamco.</p>

                                                        <div class="btc_shop_list_bottom_social_wrapper ">
                                                            <ul>
                                                                <li class="shop_list_first_btn"><a href="#!" class="waves-effect waves-light waves-ripple"><i class="fa fa-heart"></i>wishlist</a></li>
                                                                <li><a href="#!" class="waves-effect waves-light waves-ripple"><i class="fa fa-shopping-cart"></i>add to cart</a></li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                              
                                <div class="pager_wrapper gc_blog_pagination">
                                    <ul class="pagination">
                                        <li><a href="#">Previous</a>
                                        </li>
                                        <li><a href="#">1</a>
                                        </li>
                                        <li class="third_pagger"><a href="#">2</a>
                                        </li>
                                        <li><a href="#">3</a>
                                        </li>
                                        <li class="hidden-xs"><a href="#">4</a>
                                        </li>
                                        <li><a href="#">Next</a>
                                        </li>
                                    </ul>
                                </div>
                               
                            </div> -->
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- blog_section end -->
    <!--sw our newsletter wrapper start-->
    <div class="sw_our_newsletter_wrapper">

        <div class="container">
            <div class="row">
                <div class="col-md-7 col-lg-7 col-sm-12 col-xs-12">
                    <div class="sw_nl_heading_wrapper sw_our_news_txt">
                        <i class="flaticon-rocket"></i>
                        <h2>Subscribe Our Newsletter</h2>
                        <h6>Get the latest News & Offers..</h6>

                        <div class="prs_newsletter_field">
                            <input type="text" placeholder="Email*">
                            <button type="submit" class="waves-effect waves-light waves-ripple">Submit</button>
                        </div>
                        <p>True environmental protection lies in loving the mountains, the oceans and in cher
                            <br> all creation.</p>

                    </div>
                </div>
                <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12">
                    <div class="sw_letter_img_wrapper">
                        <img src="{% static 'images/abt_ltr_img.png' %}" alt="img">

                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- sw our newsletter section end-->

    
    {% block javascript %} 

    <script src="{% static 'js/addToCart.js' %}"></script>

    {% endblock javascript %}

    {% endblock %}