{% extends 'base2.html' %}
{% load static %}
{% block title %}Service{% endblock %}

{% block content %}
    <!-- page_title_section start -->
    <div class="page_title_section">
        <div class="page_header">
            <div class="container">
                <div class="row">
                    <!-- section_heading start -->
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">

                        <div class="sub_title_section">
                            <ul class="sub_title">
                                <li><a href="#"> Home </a></li>
                                <li> services</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page_title_section end -->
    <!--sw about us top start-->
    <div class="sw_about_top_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="sw_abot_top_txt_wrapper">

                        <div class="sw_left_heading_wraper sw_dark_heading_wraper">
                            <h1>Our services Overview</h1>
                            <img src="{% static 'images/hd_line_dark.png' %}" alt="title">
                            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enimnim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                                esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="sw_about_top_img">
                        <img src="{% static 'images/iner_servce.png' %}" alt="img">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--sw about us top end-->
    <!-- sw services wrapper start -->
    <div class="sw_iner_service_wrapper sw_iner_service_wrapper_2">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6">
                    <div class="gb_icon_wrapper">
                        <div class="gb_icon_img">
                            <img src="{% static 'images/spec_1.png' %}" alt="title">
                        </div>
                        <div class="gb_icon_content">
                            <h4><a href="#">Solar as a <br>
Service</a></h4>

                        </div>
                        <p>Sed do eiusmod tempor incididunt utre et dolore magna aliqua. Ut enimnim am, quis nostrud exercitation ullamco oris nisi ut aliquip ex ea commodo.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6">
                    <div class="gb_icon_wrapper">
                        <div class="gb_icon_img">
                            <img src="{% static 'images/spec_2.png' %}" alt="title">
                        </div>
                        <div class="gb_icon_content">
                            <h4><a href="#">Solar PV <br>
Systems</a></h4>

                        </div>
                        <p>Sed do eiusmod tempor incididunt utre et dolore magna aliqua. Ut enimnim am, quis nostrud exercitation ullamco oris nisi ut aliquip ex ea commodo.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6">
                    <div class="gb_icon_wrapper">
                        <div class="gb_icon_img">
                            <img src="{% static 'images/spec_3.png' %}" alt="title">
                        </div>
                        <div class="gb_icon_content">
                            <h4><a href="#">Wind Generators<br>
Systems</a></h4>

                        </div>
                        <p>Sed do eiusmod tempor incididunt utre et dolore magna aliqua. Ut enimnim am, quis nostrud exercitation ullamco oris nisi ut aliquip ex ea commodo.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6">
                    <div class="gb_icon_wrapper">
                        <div class="gb_icon_img">
                            <img src="{% static 'images/spec_4.png' %}" alt="title">
                        </div>
                        <div class="gb_icon_content">
                            <h4><a href="#">Other Alternative<br>
Energy</a></h4>

                        </div>
                        <p>Sed do eiusmod tempor incididunt utre et dolore magna aliqua. Ut enimnim am, quis nostrud exercitation ullamco oris nisi ut aliquip ex ea commodo.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6">
                    <div class="gb_icon_wrapper">
                        <div class="gb_icon_img">
                            <img src="{% static 'images/spec_5.png' %}" alt="title">
                        </div>
                        <div class="gb_icon_content">
                            <h4><a href="#">Commercial <br>
Systems</a></h4>

                        </div>
                        <p>Sed do eiusmod tempor incididunt utre et dolore magna aliqua. Ut enimnim am, quis nostrud exercitation ullamco oris nisi ut aliquip ex ea commodo.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6">
                    <div class="gb_icon_wrapper">
                        <div class="gb_icon_img">
                            <img src="{% static 'images/spec_6.png' %}" alt="title">
                        </div>
                        <div class="gb_icon_content">
                            <h4><a href="#">recyling <br> rubbish</a></h4>

                        </div>
                        <p>Sed do eiusmod tempor incididunt utre et dolore magna aliqua. Ut enimnim am, quis nostrud exercitation ullamco oris nisi ut aliquip ex ea commodo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- sw services wrapper end -->
    <!--sw discover wrapper start-->
    <div class="sw_discver_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="sw_disc_txt_wrapper">

                        <div class="sw_left_heading_wraper">
                            <h1>Discover the Advantages</h1>
                            <img src="{% static 'images/heading_line.png' %}" alt="title">
                            <p>Donec quis magna sit amet risus vulputate maximus eget eget arcu. Praesent sed molestie tortor. </p>
                        </div>
                        <div class="sw_desc_btm_txt">
                            <div class="sw_disc_image">
                                <i class="flaticon-sun"></i>
                            </div>
                            <div class="sw_disc_head_text">
                                <h5><a href="#">Solar Panels Service</a></h5>
                                <p>Ruisque ut nunc elit. Lorem ipsum dolor Sit amet consectetur
                                    <br> elitam purus tellus fringilla.</p>
                            </div>
                        </div>
                        <div class="sw_desc_btm_txt">
                            <div class="sw_disc_image">
                                <i class="flaticon-wind-turbine"></i>
                            </div>
                            <div class="sw_disc_head_text">
                                <h5><a href="#">Best Wind Energy</a></h5>
                                <p>Ruisque ut nunc elit. Lorem ipsum dolor Sit amet consectetur
                                    <br> elitam purus tellus fringilla.</p>
                            </div>
                        </div>
                        <div class="sw_desc_btm_txt">
                            <div class="sw_disc_image">
                                <i class="flaticon-power"></i>
                            </div>
                            <div class="sw_disc_head_text">
                                <h5><a href="#">Extended Guarantee</a></h5>
                                <p>Ruisque ut nunc elit. Lorem ipsum dolor Sit amet consectetur
                                    <br> elitam purus tellus fringilla.</p>
                            </div>
                        </div>
                        <div class="disc_btn">
                            <ul>
                                <li>
                                    <a href="#!" class="waves-effect waves-light waves-ripple">view all</a>
                                </li>
                            </ul>

                        </div>

                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1 col-sm-12 col-xs-12 clm_img">
                    <div class="sw_right_img_wrapper">
                        <div class="sw_disc_img_overlay"></div>
                        <img src="{% static 'images/disc_lft_bg.jpg' %}" alt="About" class="img-responsive sw_right_img_div">

                        <div class="sw_disc_img_btm">
                            <img src="{% static 'images/disc_lft.jpg' %}" alt="About" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- sw discover section end-->
    <!-- counter wrapper start-->
    <div class="counter_section">
        <div class="counter-section section-padding" data-stellar-background-ratio="0.5">
            <div class="container text-center">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow  zoomIn animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1.0s; animation-name: zoomIn;">
                        <div class="counter_hover">
                            <div class="icon"> <a href="#"><i class="flaticon-powerpoint"></i></a>
                            </div>
                            <div class="count-description">
                                <h5 class="con1">project complete</h5>
                                <span class="timer">1353</span>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow  zoomIn animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1.0s; animation-name: zoomIn;">
                        <div class="counter_hover">
                            <div class="icon"> <a href="#"><i class="flaticon-user"></i></a>
                            </div>
                            <div class="count-description">
                                <h5 class="con2">happy customers</h5>
                                <span class="timer">1205</span>+

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow  zoomIn animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1.0s; animation-name: zoomIn;">
                        <div class="counter_hover">
                            <div class="icon"> <a href="#"><i class="flaticon-cup"></i></a>
                            </div>
                            <div class="count-description">
                                <h5 class="con2">awards winner</h5>
                                <span class="timer">845</span>+

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow  zoomIn animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1.0s; animation-name: zoomIn;">
                        <div class="counter_hover">
                            <div class="icon"> <a href="#"><i class="flaticon-time"></i></a>
                            </div>
                            <div class="count-description">
                                <h5 class="con4">years in service</h5>
                                <span class="timer">27</span>+

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- counter wrapper end-->
    <!-- sw pricing section start-->
    <div class="sw_pricing_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 col-lg-offset-3">
                    <div class="sw_left_heading_wraper sw_center_heading_wrapper pd_0">
                        <h1>Affordable Pricing Packages</h1>
                        <img src="{% static 'images/heading_line.png' %}" alt="title">
                        <p>Donec quis magna sit amet risus vulputate maximus eget eget arcu. Praesent sed molestie tortor. </p>
                    </div>
                </div>

                <div class="pricing_box1_wrapper">
                    <div class="box1_heading_wrapper box1_orange">

                        <h1><sup>$</sup>75<span> /  month</span></h1>
                        <div class="jp_pricing_label_wrapper">

                        </div>
                    </div>

                    <div class="price_box1_wrapper">
                        <div class="disc_btn pricing_btn">
                            <ul>
                                <li>
                                    <a href="#!" class="waves-effect waves-light waves-ripple">basic</a>
                                </li>
                            </ul>

                        </div>

                        <div class="pricing_btm_txt_wrapper txt_clr_oange">
                            <div class="pricing_cont">
                                <p>Battery Capacity 11 - 15 kWh</p>
                                <ul>
                                    <li> free service</li>
                                    <li>ranted battery</li>
                                    <li>free installation</li>
                                    <li>24 hour support</li>

                                </ul>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="pricing_box1_wrapper sw_pricing_box_transition">
                    <div class="box1_heading_wrapper box1_blue">

                        <h1><sup>$</sup>95<span> /  month</span></h1>
                        <div class="jp_pricing_label_wrapper jp_pricing_label_blue">

                        </div>
                    </div>
                    <div class="price_box1_wrapper price_box1_wrapper_center">
                        <div class="disc_btn pricing_btn">
                            <ul>
                                <li>
                                    <a href="#!" class="waves-effect waves-light waves-ripple">business</a>
                                </li>
                            </ul>

                        </div>

                        <div class="pricing_btm_txt_wrapper txt_clr_blue">
                            <div class="pricing_cont">
                                <p>Battery Capacity 16 - 20 kWh</p>
                                <ul>
                                    <li> free service</li>
                                    <li>ranted battery</li>
                                    <li>free installation</li>
                                    <li>24 hour support</li>

                                </ul>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="pricing_box1_wrapper padder_btm_0">
                    <div class="box1_heading_wrapper box1_green">

                        <h1><sup>$</sup>125<span> /  month</span></h1>
                        <div class="jp_pricing_label_wrapper jp_pricing_label_green">

                        </div>
                    </div>

                    <div class="price_box1_wrapper">
                        <div class="disc_btn pricing_btn">
                            <ul>
                                <li>
                                    <a href="#!" class="waves-effect waves-light waves-ripple">ultimate</a>
                                </li>
                            </ul>

                        </div>

                        <div class="pricing_btm_txt_wrapper txt_clr_green">
                            <div class="pricing_cont">
                                <p>Battery Capacity all kWh</p>
                                <ul>
                                    <li> free service</li>
                                    <li>ranted battery</li>
                                    <li>free installation</li>
                                    <li>24 hour support</li>

                                </ul>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- sw pricing section end-->
    <!-- sw contact form section start-->
    <div class="sw_contact_form_wrapper sw_contact_form_padder">

        <div class="container">
            <div class="contact_left_wrapper">
                <img src="{% static 'images/form_bg.png' %}" alt="img" class="img-responsive">
            </div>
            <div class="contact_right_wrapper">
                <div class="cmnt_area_div_mn">
                    <div class="sw_left_heading_wraper sw_dark_heading_wraper">
                        <h1>Fill Free Contact Us</h1>
                        <img src="{% static 'images/hd_line_dark.png' %}" alt="title">
                        <p>Donec quis magna sit amet risus vulputate maximus eget eget arcu. Praesent sed molestie tortor. </p>
                    </div>
                    <div class="row">
                        <form>
                            <div class="cont_main_section">

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="contect_form1">
                                        <input type="text" name="full_name" placeholder="Name*" class="require">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="contect_form1">
                                        <input type="email" name="email" placeholder="Email*" class="require" data-valid="email" data-error="Email should be valid.">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="contect_form1">
                                        <input type="text" name="subject" placeholder="Subject">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="contect_form4">
                                        <textarea rows="5" name="message" placeholder="Message" class="require"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="response"></div>
                                    <div class="cntct_2_btn_wrapper">
                                        <button type="button" class="submitForm waves-effect waves-light waves-ripple">send</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- sw contact form section end-->
    <!--sw our newsletter wrapper start-->
    <div class="sw_our_newsletter_wrapper">

        <div class="container">
            <div class="row">
                <div class="col-md-7 col-lg-7 col-sm-12 col-xs-12">
                    <div class="sw_nl_heading_wrapper sw_our_news_txt">
                        <i class="flaticon-rocket"></i>
                        <h2>Subscribe Our Newsletter</h2>
                        <h6>Get the latest News & Offers..</h6>

                        <div class="prs_newsletter_field">
                            <input type="text" placeholder="Email*">
                            <button type="submit" class="waves-effect waves-light waves-ripple">Submit</button>
                        </div>
                        <p>True environmental protection lies in loving the mountains, the oceans and in cher
                            <br> all creation.</p>

                    </div>
                </div>
                <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12">
                    <div class="sw_letter_img_wrapper">
                        <img src="{% static 'images/abt_ltr_img.png' %}" alt="img">

                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- sw our newsletter section end-->
    <!-- sw partners section start-->
    <div class="sw_partners_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    <div class="sw_left_heading_wraper">
                        <h1>Our Partners</h1>
                        <img src="{% static 'images/heading_line.png' %}" alt="title">
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 sw_spectrm_padding">
                    <div class="partners_slider_wrapper">
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="lr_prt_img_wrapper">
                                    <img src="{% static 'images/partner_1.png' %}" alt="partner_img">
                                </div>
                            </div>
                            <div class="item">
                                <div class="lr_prt_img_wrapper">
                                    <img src="{% static 'images/partner_2.png' %}" alt="partner_img">
                                </div>
                            </div>
                            <div class="item">
                                <div class="lr_prt_img_wrapper">
                                    <img src="{% static 'images/partner_3.png' %}" alt="partner_img">
                                </div>
                            </div>
                            <div class="item">
                                <div class="lr_prt_img_wrapper">
                                    <img src="{% static 'images/partner_4.png' %}" alt="partner_img">
                                </div>
                            </div>
                            <div class="item">
                                <div class="lr_prt_img_wrapper">
                                    <img src="{% static 'images/partner_5.png' %}" alt="partner_img">
                                </div>
                            </div>
                            <div class="item">
                                <div class="lr_prt_img_wrapper">
                                    <img src="{% static 'images/partner_2.png' %}" alt="partner_img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- sw partners section end-->
    {% endblock %}