{% extends 'base2.html' %}
{% load static %}
{% block title %}Service{% endblock %}

{% block content %}
    <!-- page_title_section start -->
    <div class="page_title_section">
        <div class="page_header">
            <div class="container">
                <div class="row">
                    <!-- section_heading start -->
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">

                        <div class="sub_title_section">
                            <ul class="sub_title">
                                <li><a href="#"> Home </a></li>
                                <li> services</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page_title_section end -->
    <!--sw about us top start-->
    <div class="sw_about_top_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="sw_abot_top_txt_wrapper">

                        <div class="sw_left_heading_wraper sw_dark_heading_wraper">
                            <h1>OVERVIEW OF OUR SERVICES</h1>
                            <img src="{% static 'images/hd_line_dark.png' %}" alt="title">
                            <p>Axia provides excellent services in various sectors. Our area of expertise includes solar energy conversion, electrical appliances, lightning and surge protectors, LED lights and other services on technology. 
                                We aim to develop a work culture where customers are Technology driven instead of salesman driven in deciding the products and methods used for solar installation.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--sw about us top end-->
    <!-- sw services wrapper start -->
    <div class="sw_iner_service_wrapper sw_iner_service_wrapper_2">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6">
                    <div class="gb_icon_wrapper">
                        <div class="gb_icon_img">
                            <img src="{% static 'images/spec_1.png' %}" alt="title">
                        </div>
                        <div class="gb_icon_content">
                            <h4><a href="#">Solar as a <br>
Service</a></h4>

                        </div>
                        <p>Sed do eiusmod tempor incididunt utre et dolore magna aliqua. Ut enimnim am, quis nostrud exercitation ullamco oris nisi ut aliquip ex ea commodo.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6">
                    <div class="gb_icon_wrapper">
                        <div class="gb_icon_img">
                            <img src="{% static 'images/spec_2.png' %}" alt="title">
                        </div>
                        <div class="gb_icon_content">
                            <h4><a href="#">Solar PV <br>
Systems</a></h4>

                        </div>
                        <p>Sed do eiusmod tempor incididunt utre et dolore magna aliqua. Ut enimnim am, quis nostrud exercitation ullamco oris nisi ut aliquip ex ea commodo.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6">
                    <div class="gb_icon_wrapper">
                        <div class="gb_icon_img">
                            <img src="{% static 'images/spec_3.png' %}" alt="title">
                        </div>
                        <div class="gb_icon_content">
                            <h4><a href="#">Wind Generators<br>
Systems</a></h4>

                        </div>
                        <p>Sed do eiusmod tempor incididunt utre et dolore magna aliqua. Ut enimnim am, quis nostrud exercitation ullamco oris nisi ut aliquip ex ea commodo.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6">
                    <div class="gb_icon_wrapper">
                        <div class="gb_icon_img">
                            <img src="{% static 'images/spec_4.png' %}" alt="title">
                        </div>
                        <div class="gb_icon_content">
                            <h4><a href="#">Other Alternative<br>
Energy</a></h4>

                        </div>
                        <p>Sed do eiusmod tempor incididunt utre et dolore magna aliqua. Ut enimnim am, quis nostrud exercitation ullamco oris nisi ut aliquip ex ea commodo.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6">
                    <div class="gb_icon_wrapper">
                        <div class="gb_icon_img">
                            <img src="{% static 'images/spec_5.png' %}" alt="title">
                        </div>
                        <div class="gb_icon_content">
                            <h4><a href="#">Commercial <br>
Systems</a></h4>

                        </div>
                        <p>Sed do eiusmod tempor incididunt utre et dolore magna aliqua. Ut enimnim am, quis nostrud exercitation ullamco oris nisi ut aliquip ex ea commodo.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6">
                    <div class="gb_icon_wrapper">
                        <div class="gb_icon_img">
                            <img src="{% static 'images/spec_6.png' %}" alt="title">
                        </div>
                        <div class="gb_icon_content">
                            <h4><a href="#">recyling <br> rubbish</a></h4>

                        </div>
                        <p>Sed do eiusmod tempor incididunt utre et dolore magna aliqua. Ut enimnim am, quis nostrud exercitation ullamco oris nisi ut aliquip ex ea commodo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- sw services wrapper end -->
    <!--sw discover wrapper start-->
    <div class="sw_discver_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="sw_disc_txt_wrapper">

                        <div class="sw_left_heading_wraper">
                            <h1>UNCOVER THE BENEFITS</h1>
                            <img src="{% static 'images/heading_line.png' %}" alt="title">
                            <p>AXIA is the global leading provider for photovoltaic (PV) modules and smart energy solutions and services to promote global sustainable development.  </p>

                        </div>
                        <div class="sw_desc_btm_txt">
                            <div class="sw_disc_image">
                                <i class="flaticon-sun"></i>
                            </div>
                            <div class="sw_disc_head_text">
                                <h5><a href="#">RENEWABLE ENERGY</a></h5>
                                <p>Utilizing the abundant availability of solar energy to 
                                    <br> convert into electrical energy.
                                </p>
                            </div>
                        </div>
                        <div class="sw_desc_btm_txt">
                            <div class="sw_disc_image">
                                <image src={% static 'images/security1.png' %} style="width: 46px;">
                            </div>
                            <div class="sw_disc_head_text">
                                <h5><a href="#">TRUSTED SECURITY</a></h5>
                                <p>Trusted security appliances and services to ensure your 
                                    <br> security at best.
                                </p>
                            </div>
                        </div>
                        <div class="sw_desc_btm_txt">
                            <div class="sw_disc_image">
                                <i class="flaticon-power"></i>
                            </div>
                            <div class="sw_disc_head_text">
                                <h5><a href="#">EXTENDED GUARANTEE</a></h5>
                                <p>Providing products and services at premium quality and 
                                    <br> extended guarantee.
                                </p>
                            </div>
                        </div>
                        <div class="disc_btn">
                            <ul>
                                <li>
                                    <a href="#!" class="waves-effect waves-light waves-ripple">view all</a>
                                </li>
                            </ul>

                        </div>

                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1 col-sm-12 col-xs-12 clm_img">
                    <div class="sw_right_img_wrapper">
                        <div class="sw_disc_img_overlay"></div>
                        <img src="{% static 'images/disc_lft_bg.jpg' %}" alt="About" class="img-responsive sw_right_img_div">

                        <div class="sw_disc_img_btm">
                            <img src="{% static 'images/disc_lft.jpg' %}" alt="About" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- sw discover section end-->
    <!-- counter wrapper start-->
    <div class="counter_section">
        <div class="counter-section section-padding" data-stellar-background-ratio="0.5">
            <div class="container text-center">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow  zoomIn animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1.0s; animation-name: zoomIn;">
                        <div class="counter_hover">
                            <div class="icon"> <a href="#"><i class="flaticon-powerpoint"></i></a>
                            </div>
                            <div class="count-description">
                                <h5 class="con1">project complete</h5>
                                <span class="timer">1353</span>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow  zoomIn animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1.0s; animation-name: zoomIn;">
                        <div class="counter_hover">
                            <div class="icon"> <a href="#"><i class="flaticon-user"></i></a>
                            </div>
                            <div class="count-description">
                                <h5 class="con2">happy customers</h5>
                                <span class="timer">1205</span>+

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow  zoomIn animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1.0s; animation-name: zoomIn;">
                        <div class="counter_hover">
                            <div class="icon"> <a href="#"><i class="flaticon-cup"></i></a>
                            </div>
                            <div class="count-description">
                                <h5 class="con2">awards winner</h5>
                                <span class="timer">845</span>+

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow  zoomIn animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1.0s; animation-name: zoomIn;">
                        <div class="counter_hover">
                            <div class="icon"> <a href="#"><i class="flaticon-time"></i></a>
                            </div>
                            <div class="count-description">
                                <h5 class="con4">years in service</h5>
                                <span class="timer">27</span>+

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- counter wrapper end-->
    <!-- sw pricing section start-->
    
    <!-- sw pricing section end-->
    <!-- sw contact form section start-->
    <div class="sw_contact_form_wrapper sw_contact_form_padder">

        <div class="container">
            <div class="contact_left_wrapper">
                <img src="{% static 'images/form_bg.png' %}" alt="img" class="img-responsive">
            </div>
            <div class="contact_right_wrapper">
                <div class="cmnt_area_div_mn">
                    <div class="sw_left_heading_wraper sw_dark_heading_wraper">
                        <h1>FEEL FREE TO CONTACT US</h1>
                        <img src="{% static 'images/hd_line_dark.png' %}" alt="title">
                        <p>Our experts are kindly waiting to serve you excellent services. Stay in touch with us.</p>
                    </div>
                    <div class="row">

                        <form action="" method="post" class="ajax">
                            {% csrf_token %}
                            <div class="cont_main_section">
                                
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="contect_form1">
                                        {{form.firstname}}
                                        
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="contect_form1">
                                        
                                        {{form.lastname}}  
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="contect_form1">
                                        {{form.intrestedProduct}}
                                                                          </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="contect_form1">
                                        {{form.email}}                                      </div>
                                </div>
                                
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="contect_form1">
                                        {{form.companyName}}
                                        
                                    </div>
                                </div>
                                
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="contect_form1">
                                        {{form.industry}}
                                                                          </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="contect_form1">
                                        {{form.jobFunction}}                                      </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="contect_form1">
                                        {{form.corporateLevel}}
                                                                          </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="contect_form1">
                                        {{form.natureOfInquiry}}                                    
                                      </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="contect_sel">
                                        
                                        {{form.country}}  
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="response"></div>
                                    <div class="cntct_2_btn_wrapper">
                                        <button type="submit" class="submitForm waves-effect waves-light waves-ripple">send</button>
                                    </div>
                                </div>
                                
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- sw contact form section end-->
    <!--sw our newsletter wrapper start-->
    <div class="sw_our_newsletter_wrapper">

        <div class="container">
            <div class="row">
                <div class="col-md-7 col-lg-7 col-sm-12 col-xs-12">
                    <div class="sw_nl_heading_wrapper sw_our_news_txt">
                        <i class="flaticon-rocket"></i>
                        <h2>Subscribe Our Newsletter</h2>
                        <h6>Get the latest News & Offers..</h6>

                        <div class="prs_newsletter_field">
                            <a href="/contact/" class="a-btn waves-effect waves-light waves-ripple">Contact Us</a>

                        </div>
                        <p>True environmental protection lies in loving the mountains, the oceans and in cher
                            <br> all creation.</p>

                    </div>
                </div>
                <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12">
                    <div class="sw_letter_img_wrapper">
                        <img src="{% static 'images/abt_ltr_img.png' %}" alt="img">

                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- sw our newsletter section end-->
    <!-- sw partners section start-->
    <div class="sw_partners_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    <div class="sw_left_heading_wraper">
                        <h1>Our Partners</h1>
                        <img src="{% static 'images/heading_line.png' %}" alt="title">
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 sw_spectrm_padding">
                    <div class="partners_slider_wrapper">
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="lr_prt_img_wrapper">
                                    <img src="{% static 'images/partner_1.png' %}" alt="partner_img">
                                </div>
                            </div>
                            <div class="item">
                                <div class="lr_prt_img_wrapper">
                                    <img src="{% static 'images/partner_2.png' %}" alt="partner_img">
                                </div>
                            </div>
                            <div class="item">
                                <div class="lr_prt_img_wrapper">
                                    <img src="{% static 'images/partner_3.png' %}" alt="partner_img">
                                </div>
                            </div>
                            <div class="item">
                                <div class="lr_prt_img_wrapper">
                                    <img src="{% static 'images/partner_4.png' %}" alt="partner_img">
                                </div>
                            </div>
                            <div class="item">
                                <div class="lr_prt_img_wrapper">
                                    <img src="{% static 'images/partner_5.png' %}" alt="partner_img">
                                </div>
                            </div>
                            <div class="item">
                                <div class="lr_prt_img_wrapper">
                                    <img src="{% static 'images/partner_2.png' %}" alt="partner_img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- sw partners section end-->

    {% block javascript %}
    
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.15.3/dist/sweetalert2.all.min.js"></script>
    <script>
        $(document).on('submit', 'form.ajax', function(e) {
            e.preventDefault();
            var $this = $(this);
            var data = new FormData(this);
            var action_url = $this.attr('action');
            var reset = $this.hasClass('reset');
            var reload = $this.hasClass('reload');
            var redirect = $this.hasClass('redirect');
            var redirect_url = $this.attr('data-redirect');

            $.ajax({
                url: action_url,
                type: 'POST',
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                dataType: "json",

                success: function(data) {

                    var status = data.status;
                    var title = data.title;
                    var message = data.message;
                    var pk = data.pk;

                    if (status == "true") {
                        if (title) {
                            title = title;
                        } else {
                            title = "Success";
                        }

                        Swal.fire({
                            title: title,
                            html: message,
                            icon: 'success',
                        }).then(function() {
                            if (redirect) {
                                window.location.href = redirect_url;
                            }
                            if (reload) {
                                window.location.reload();
                            }
                            if (reset) {
                                window.location.reset();
                            }
                        });

                    } else {
                        if (title) {
                            title = title;
                        } else {
                            title = "An Error Occurred";
                        }
                        Swal.fire({
                            title: title,
                            html: message,
                            icon: "error"
                        });

                    }
                },
                error: function(data) {
                    var title = "An error occurred";
                    var message = "something went wrong";
                    Swal.fire({
                        title: title,
                        html: message,
                        icon: "error"
                    });
                }
            });
        });
    </script>
{% endblock javascript %}
    {% endblock %}